@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@100..900&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


:root {
    --cor1: #024059;
    --cor2: #026873;
    --cor3: #04BF8A;
    --cor4: #025940;
    --cor5: #03A64A;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: "idroid";
}


body {
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
}

header > h1 {
    color: var(--cor1);
    font-family: var(--fonte-destaque);
}

main h1 {
    color: var(--cor2);
    font-family: 'idroid';
}

main h2 {
    font-family: 'idroid';
    
}

