@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');

/*CONFIGURAÇÕES GLOBAIS*/

:root {
    --fonte1: Georgia, 'Times New Roman', Times, serif;
    --fonte2: 'Bahiana', sans-serif;
    --fonte3: 'Passion One', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte3)
}


/* HEADER */

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte2);
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 55px;
}

header p {
    font-family: var(--fonte1);
    padding-bottom: 55px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}


/* SECTION TEXTO*/

section {
    font-family: var(--fonte3);
    line-height: 1em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 50px;    
}

section.texto {
    background-color: white;
    color: black;
    font-style: italic;
    font-size: 3em;
    padding: 40px;
}

section.texto p {
    padding-bottom: 2em;
}


/* SECTION IMAGEM*/

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    font-style: italic;
    font-size: 3em;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
    background-size: cover;
    background-attachment: fixed;
    
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.651);
    
}

section#joaninha {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

section#carta {
    background-image: url('imagens/background002.jpg');
    background-position: center center;
}


/*FOOTER*/

footer p {
    background-color: black;
    color: white;
    font-family: var(--fonte1);    
    text-align: center;
    padding: 15px;

}

