@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: 'Belgiano';
    src: url(fontes/belgiano-serif-2.otf) format('opentype'), url(fontes/belgiano-serif-2.ttf) format('truetype');

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

header > h1 {
    text-align: center;
}

section#livros {
    background-color: lightyellow;
}

section#livros > h2 {
    color: lightsalmon;
    text-decoration: underline;
}

section#livros > h3 {
    color: lightcoral;
    text-decoration: underline;
}

section#borda {
    background-color: #D5A083;
    padding: 10px;
}

section#borda > article {
    background-color: #E5C9B4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.187);
    text-align: center;
}

section#borda > article > h1 {
    color: #66796B;

}

section#fonte-001 {
    font-family: 'Quicksand', serif;
}

section#fonte-002 {
    font-family: 'Belgiano', serif;
}

p.paragrafo {
    display: none;
}

section#hover:hover {
    color: #66796B;
}

section#hover:hover > p {
    display: block;
    background-color: #E5C9B4;
    width: 300px;
}

section#pseudo-classe > div {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    text-align: center;
    background-color: #E5C9B4;
}

section#pseudo-classe > div:hover {
    background-color: #66796B;
}

section#box > h2 {
    display: block;
    width: 300px;
    height: 300px;
    border: 20px solid #66796B;
    margin: 20px;
    padding: 10px;
    outline: 10px dashed #D5A083;
}

section#box > p > a {
    display: inline;
    border-width: 5px;
    border-style: dashed;
    border-color: #D5A083;
    padding: 10px;


}

section#imagem-fundo > p > a {
    color: #66796B;
    text-decoration: none;

}

section#imagem-fundo > p > a:hover {
    color: #D5A083;
    text-decoration: underline;

}
