@charset 'UTF-8';

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

header > h1 {
    text-align: center;
}

section#livros {
    background-color: lightyellow;
}

section > h2 {
    color: lightsalmon;
    text-decoration: underline;
}

section > h3 {
    color: lightcoral;
    text-decoration: underline;
}

